In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
amazon_df = pd.read_csv('amazon_prime_titles.csv')

disney_plus_df = pd.read_csv('disney_plus_titles.csv')

hulu_df = pd.read_csv('hulu_titles.csv')

netflix_df = pd.read_csv('netflix_titles.csv')

In [3]:
#arreglo el tipo de datos
# amazon
amazon_df['show_id'] = amazon_df['show_id'].astype('str') # porque hay que arreglar el tipo de dato?
amazon_df['type'] = amazon_df['type'].astype('category')
amazon_df['title'] = amazon_df['title'].astype('str')
amazon_df['director'] = amazon_df['director'].astype('str')
# amazon_df['cast'] = amazon_df['cast'].astype('str')
amazon_df['country'] = amazon_df['country'].astype('str')
amazon_df['date_added'] = pd.to_datetime(amazon_df['date_added'], infer_datetime_format=True, errors='coerce')
amazon_df['release_year'] = amazon_df['release_year'].astype('int16')
# amazon_df['rating'] = amazon_df['rating'].astype('str')
amazon_df['listed_in'] = amazon_df['listed_in'].astype('str')
amazon_df['description'] = amazon_df['description'].astype('str')

In [4]:
# disney_plus
disney_plus_df['show_id'] = disney_plus_df['show_id'].astype('str') # porque hay que arreglar el tipo de dato?
disney_plus_df['type'] = disney_plus_df['type'].astype('category')
disney_plus_df['title'] = disney_plus_df['title'].astype('str')
disney_plus_df['director'] = disney_plus_df['director'].astype('str')
# disney_plus_df['cast'] = disney_plus_df['cast'].astype('str')
disney_plus_df['country'] = disney_plus_df['country'].astype('str')
disney_plus_df['date_added'] = pd.to_datetime(disney_plus_df['date_added'], infer_datetime_format=True, errors='coerce')
disney_plus_df['release_year'] = disney_plus_df['release_year'].astype('int16')
# disney_plus_df['rating'] = disney_plus_df['rating'].astype('str')
disney_plus_df['listed_in'] = disney_plus_df['listed_in'].astype('str')
disney_plus_df['description'] = disney_plus_df['description'].astype('str')

In [5]:
# hulu
hulu_df['show_id'] = hulu_df['show_id'].astype('str') # porque hay que arreglar el tipo de dato?
hulu_df['type'] = hulu_df['type'].astype('category')
hulu_df['title'] = hulu_df['title'].astype('str')
hulu_df['director'] = hulu_df['director'].astype('str')
# hulu_df['cast'] = hulu_df['cast'].astype('str')
hulu_df['country'] = hulu_df['country'].astype('str')
hulu_df['date_added'] = pd.to_datetime(hulu_df['date_added'], infer_datetime_format=True, errors='coerce')
hulu_df['release_year'] = hulu_df['release_year'].astype('int16')
# hulu_df['rating'] = hulu_df['rating'].astype('str')
hulu_df['listed_in'] = hulu_df['listed_in'].astype('str')
hulu_df['description'] = hulu_df['description'].astype('str')

In [6]:
# netflix
netflix_df['show_id'] = netflix_df['show_id'].astype('str') # porque hay que arreglar el tipo de dato?
netflix_df['type'] = netflix_df['type'].astype('category')
netflix_df['title'] = netflix_df['title'].astype('str')
netflix_df['director'] = netflix_df['director'].astype('str')
# netflix_df['cast'] = netflix_df['cast'].astype('str')
netflix_df['country'] = netflix_df['country'].astype('str')
netflix_df['date_added'] = pd.to_datetime(netflix_df['date_added'], infer_datetime_format=True, errors='coerce')
netflix_df['release_year'] = netflix_df['release_year'].astype('int16')
# netflix_df['rating'] = netflix_df['rating'].astype('str')
netflix_df['listed_in'] = netflix_df['listed_in'].astype('str')
netflix_df['description'] = netflix_df['description'].astype('str')

In [7]:
# 1) Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets
amazon_df['id'] = 'a' + amazon_df['show_id']
amazon_df['id'] = amazon_df['id'].astype('str')

In [8]:
disney_plus_df['id'] = 'd' + disney_plus_df['show_id']
disney_plus_df['id'] = disney_plus_df['id'].astype('str')

In [9]:
hulu_df['id'] = 'h' + hulu_df['show_id']
hulu_df['id'] = hulu_df['id'].astype('str')

In [10]:
netflix_df['id'] = 'n' + netflix_df['show_id']
netflix_df['id'] = netflix_df['id'].astype('str')

In [11]:
# 2) Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)

amazon_df['rating'].fillna('G', inplace= True)
disney_plus_df['rating'].fillna('G', inplace=True)
hulu_df['rating'].fillna('G', inplace=True)
netflix_df['rating'].fillna('G', inplace=True)

hulu_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,nan,NaN,nan,2021-10-24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,nan,NaN,nan,2021-10-23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,nan,NaN,nan,2021-10-23,2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,nan,NaN,nan,2021-10-22,2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,nan,NaN,nan,2021-10-22,2021,G,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5

In [12]:
# 3)  De haber fechas, deberán tener el formato **`AAAA-mm-dd`**
amazon_df['date_added'] = pd.to_datetime(amazon_df['date_added'], infer_datetime_format=True, errors='coerce')

# using errors=’coerce’. It will replace all non-numeric values with NaN

disney_plus_df['date_added'] = pd.to_datetime(disney_plus_df['date_added'], infer_datetime_format=True, errors='coerce')
hulu_df['date_added'] = pd.to_datetime(hulu_df['date_added'], infer_datetime_format=True, errors='coerce')
netflix_df['date_added'] = pd.to_datetime(netflix_df['date_added'], infer_datetime_format=True, errors='coerce')
hulu_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,nan,NaN,nan,2021-10-24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,nan,NaN,nan,2021-10-23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,nan,NaN,nan,2021-10-23,2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,nan,NaN,nan,2021-10-22,2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,nan,NaN,nan,2021-10-22,2021,G,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5

In [13]:
# 5) El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**.
# 5) El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

amazon_df[['duration_int', 'duration_type']] = amazon_df['duration'].str.split(' ', n=-1, expand=True, regex=None)
amazon_df = amazon_df[amazon_df.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon_df.columns[10:-2].tolist()]

disney_plus_df[['duration_int', 'duration_type']] = disney_plus_df['duration'].str.split(' ', n=-1, expand=True, regex=None)
disney_plus_df = disney_plus_df[disney_plus_df.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney_plus_df.columns[10:-2].tolist()]

hulu_df[['duration_int', 'duration_type']] = hulu_df['duration'].str.split(' ', n=-1, expand=True, regex=None)
hulu_df = hulu_df[hulu_df.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu_df.columns[10:-2].tolist()]

netflix_df[['duration_int', 'duration_type']] = netflix_df['duration'].str.split(' ', n=-1, expand=True, regex=None)
netflix_df = netflix_df[netflix_df.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix_df.columns[10:-2].tolist()]

hulu_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,nan,NaN,nan,2021-10-24,2021,TV-MA,NaN,NaN,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,nan,NaN,nan,2021-10-23,2020,G,94 min,94,min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,nan,NaN,nan,2021-10-23,2021,PG-13,108 min,108,min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,nan,NaN,nan,2021-10-22,2021,R,97 min,97,min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,nan,NaN,nan,2021-10-22,2021,G,104 min,104,min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5

In [14]:
# eliminar columna duration
amazon_df.drop('duration', axis=1, inplace=True)
disney_plus_df.drop('duration', axis=1, inplace=True)
hulu_df.drop('duration', axis=1, inplace=True)
netflix_df.drop('duration', axis=1, inplace=True)

hulu_df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,nan,NaN,nan,2021-10-24,2021,TV-MA,NaN,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,nan,NaN,nan,2021-10-23,2020,G,94,min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,nan,NaN,nan,2021-10-23,2021,PG-13,108,min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,nan,NaN,nan,2021-10-22,2021,R,97,min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,nan,NaN,nan,2021-10-22,2021,G,104,min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5

In [15]:
#uno las tablas a un df multiplataforma
df_multiplat= pd.concat([amazon_df,disney_plus_df,hulu_df,netflix_df])

In [16]:
#4) Pongo todo en minusculas, sin excepciones
df_multiplat['id'] = df_multiplat['id'].str.lower()
df_multiplat['type'] = df_multiplat['type'].str.lower()
df_multiplat['title'] = df_multiplat['title'].str.lower()
df_multiplat['director'] = df_multiplat['director'].str.lower()
df_multiplat['cast'] = df_multiplat['cast'].str.lower()
df_multiplat['country'] = df_multiplat['country'].str.lower()
df_multiplat['rating'] = df_multiplat['rating'].str.lower()
df_multiplat['listed_in'] = df_multiplat['listed_in'].str.lower()
df_multiplat['description'] = df_multiplat['description'].str.lower()
df_multiplat['duration_type'] = df_multiplat['duration_type'].str.lower()

df_multiplat.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,listed_in,description,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110,min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69,min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5

In [17]:
#Creo el df con las tablas de ratings
score1 = pd.read_csv('rating1.csv')
score2 = pd.read_csv('rating2.csv')
score3 = pd.read_csv('rating3.csv')
score4 = pd.read_csv('rating4.csv')
score5 = pd.read_csv('rating5.csv')
score6 = pd.read_csv('rating6.csv')
score7 = pd.read_csv('rating7.csv')
score8 = pd.read_csv('rating8.csv')

In [18]:
df_scores= pd.concat([score1, score2, score3, score4, score5, score6, score7, score8])

In [19]:
#Renmobro columnas id para que sea equivalente nombre del otro df, y tmb columna rating a score para que sea distinta a columna del otro df.
df_scores.rename(columns = {'movieId':'id'}, inplace = True)
df_scores.rename(columns = {'rating':'score'}, inplace = True)

In [20]:
#Calculo el score por película xq hay varios usuarios que dan puntaje a la misma peli
scores_mean = df_scores.groupby(['id']).mean()
scores_mean.head(5)

              userId     score     timestamp
id
as1     99178.623506  3.467131  1.173241e+09
as10    92915.883041  3.439571  1.176385e+09
as100   83483.262791  3.609302  1.165458e+09
as1000  90606.197938  3.556701  1.168386e+09
as1001  92349.085288  3.585288  1.179517e+09

In [21]:
# Elimino columnas userId y timestamp que no me sirven
scores_mean.drop('userId', axis=1, inplace=True)
scores_mean.drop('timestamp', axis=1, inplace=True)

In [22]:
#Uno la tabla scores con la tabla de plataformas
df_final = pd.merge(df_multiplat, scores_mean, on="id")

In [23]:
# Seteo en 0 los shows que tienen duracion NaN

df_final['duration_int'].fillna(0, inplace = True)
df_final['duration_int'] = df_final['duration_int'].astype('int')

In [24]:
# Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN
# la función debe llamarse get_max_duration(year, platform, duration_type)

#no tiene sentido agregar filtro de tipo de duración porque todas las películas están seteadas en minutos. El otro tipo de duración es season/s y solo aplica a series

def get_max_duration(plataforma, year:int):
        dicc = {"netflix":"n","amazon":"a","hulu":"h","disney_plus":"d"}
        
        if (plataforma!="todas"): 
                if year!=0:
                        df_temp = df_final[(df_final['id'].str[0] == dicc[plataforma])&(df_final['type'] == 'movie')&(df_final['release_year'] == year)].sort_values(["duration_int"],ascending=[False]).reset_index(drop=True)
        
                        titulo = df_temp.iloc[0,2]
                        duracion = df_temp.iloc[0,9]
                        return f' La pelicula de mayor duración en la plataforma {plataforma} el año {year} es {titulo} , con una duracion de {duracion}'
        
                elif year == 0:
                        df_temp = df_final[(df_final['id'].str[0] == dicc[plataforma])&(df_final['type'] == 'movie')].sort_values(["duration_int"],ascending=[False]).reset_index(drop=True)
        
                        titulo = df_temp.iloc[0,2]
                        duracion = df_temp.iloc[0,9]
                        return f' La pelicula de mayor duración en la plataforma {plataforma} es {titulo} , con una duracion de {duracion}'
        
        elif (plataforma=="todas"): 
                if year!=0:
                        df_temp = df_final[(df_final['type'] == 'movie')&(df_final['release_year'] == year)].sort_values(["duration_int"],ascending=[False]).reset_index(drop=True)
        
                        titulo = df_temp.iloc[0,2]
                        duracion = df_temp.iloc[0,9]
                        return f' La pelicula de mayor duración en el año {year} es {titulo} , con una duracion de {duracion}'
        
                elif year == 0:
                        df_temp = df_final[(df_final['type'] == 'movie')].sort_values(["duration_int"],ascending=[False]).reset_index(drop=True)
        
                        titulo = df_temp.iloc[0,2]
                        duracion = df_temp.iloc[0,9]
                        return f' La pelicula de mayor duración es {titulo} , con una duracion de {duracion} minutos'

In [25]:
get_max_duration("hulu",2019)

# Si se pasa "todas" como parámetro quiere decir que se están eligiendo todas las plataformas
# Si se pasa 0 como parámetro quiere decir que no se está eligiendo ningun año

' La pelicula de mayor duración en la plataforma hulu el año 2019 es the traitor , con una duracion de 151'

In [26]:
# Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año 
# la función debe llamarse get_score_count(platform, scored, year)

def get_score_count(plataforma:str, point:int, anio:int):

    dicc = {"netflix":"n",
            "amazon":"a",
            "hulu":"h",
            "disney_plus":"d"}
    df_temp = df_final[(df_final["score"]>point) & 
                        (df_final["release_year"]==anio) & 
                        (df_final.id.str[0] == dicc[plataforma]) & 
                        (df_final["type"] == "movie")]
    
    cantidad = len(df_temp.index) 

    return f' Hay {cantidad} peliculas con un puntaje mayor a {point} en {plataforma} en el año {anio}'

In [27]:
get_score_count("disney_plus", 2, 2019)

' Hay 61 peliculas con un puntaje mayor a 2 en disney_plus en el año 2019'

In [28]:
# Cantidad de películas por plataforma con filtro de PLATAFORMA. 
# La función debe llamarse get_count_platform(platform)

def get_count_platform(platform):
    dicc = {"netflix":"n",
              "amazon":"a",
              "hulu":"h",
              "disney_plus":"d"}
    df_temp = df_final[(df_final.id.str[0] == dicc[platform]) & (df_final["type"] == "movie")]
    
    cantidad = len(df_temp.index)
    
    return f' Hay {cantidad} peliculas en {platform}'

In [29]:
get_count_platform("hulu")

' Hay 1484 peliculas en hulu'

In [30]:
# Actor que más se repite según plataforma y año. 
# La función debe llamarse get_actor(platform, year))

def get_actor(plataforma, anio):
    
    dicc = {"netflix":"n",
            "amazon":"a",
            "hulu":"h",
            "disney_plus":"d"}
    
    # Elimino todos los valores nulos de la columna cast
    df_final.dropna(subset = ['cast'], inplace = True)
    
    df_temp = df_final[(df_final["release_year"]==anio) & (df_final.id.str[0] == dicc[plataforma]) & (df_final["type"] == "movie")]

    new_df = df_temp['cast'].value_counts(ascending=False)    
    
    actor = new_df.index[0]
    cantidad = new_df[0]
   
    
    return f"El actor de {plataforma} que más se repite es {actor} apareciendo un total de {cantidad} veces en el año {anio}"

In [31]:
get_actor("disney_plus", 2019)

'El actor de disney_plus que más se repite es tony hale, john ratzenberger, bob peterson apareciendo un total de 2 veces en el año 2019'